@model MovieShopAssignment.Models.Customer

@{
    ViewBag.Title = "Customer Information";
}

<h2>Index</h2>

Email: @Html.EditorFor(modelItem => Model.Email) @Html.ActionLink("Find me", "Search");<br />
First name: @Html.EditorFor(modelItem => Model.FirstName)<br />
Last name: @Html.EditorFor(modelItem => Model.LastName)<br />
Address : @Html.EditorFor(modelItem => Model.Address)<br />


@Html.ActionLink("Confirm Purchase", "Confirm");




