@model IEnumerable<MoviesStoreProxy.Model.OrderLine>

@{
    ViewBag.Title ="Order details";
}

<h2>Orderlines</h2>
@Html.ActionLink("Create new orderline", "Create", null, new { @class = "btn btn-default btn-lg" })


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderId })
        </td>
    </tr>
}

</table>
